body, html {
  height: 99%;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px #000000;
  color: rgb(255, 255, 255);
  font-size: x-large;
  background-color: aliceblue;
}

.container {
  height: 100%;
  width: 60vw;
  border: 3px inset black;
  padding: 2vw;
  background: linear-gradient(49deg, rgba(82,82,82,1) 17%, rgba(172,172,172,1) 100%);
}

.sb-div {
  margin-top: 6vh;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-around;
  padding: 1vw;
  background-color: rgb(75, 75, 75);
}

#time-left {
  color: rgb(170, 224, 220);
  background: black;
  padding: .5%
}

button {
  padding: 1%;
  margin: 1%
}

button:hover {
  cursor: pointer;
  background-color: rgb(97, 93, 93);
  color: white
}

@media only screen and (max-width: 1130px) {
  .sb-div {
    flex-direction: column;
    gap: 3vh;
  }
}